name: JLC Auto Sign

on:
  schedule:
    # 北京时间 0点、6点、12点、18点执行
    - cron: '0 0,6,12,18 * * *'
    - cron: '24 9 * * *'
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set timezone to Asia/Shanghai
      run: sudo timedatectl set-timezone Asia/Shanghai

    - name: Run Sign Script
      env:
        TOKEN_LIST: ${{ secrets.TOKEN_LIST }}
        SEND_KEY_LIST: ${{ secrets.SEND_KEY_LIST }}
      run: |
        python main.py
